## Data Cleaning - For Tableau Import/Map

### Import dependcies and read in csv files

In [1]:
# Import pandas

import pandas as pd

In [2]:
# Assigning the paths to our CSV files

# file = "../Resources/Pollution_clean/Clean_Pollution.csv"
file1 = "../Resources/Medicare_clean/clean_pc_state_rates_2011.csv"
file2 = "../Resources/Medicare_clean/clean_pc_state_rates_2012.csv"
file3 = "../Resources/Medicare_clean/clean_pc_state_rates_2013.csv"
file4 = "../Resources/Medicare_clean/clean_pc_state_rates_2014.csv"
file5 = "../Resources/Medicare_clean/clean_pc_state_rates_2015.csv"
file6 = "../Resources/Census_clean/clean_census_2011.csv"
file7 = "../Resources/Census_clean/clean_census_2012.csv"
file8 = "../Resources/Census_clean/clean_census_2013.csv"
file9 = "../Resources/Census_clean/clean_census_2014.csv"
file10 = "../Resources/Census_clean/clean_census_2015.csv"
file11 = "../Resources/Tableau_clean/states_lat_and_long.csv"
file12 = "../Resources/Tableau_clean/Pollution_2011.csv"
file13 = "../Resources/Tableau_clean/Pollution_2012.csv"
file14 = "../Resources/Tableau_clean/Pollution_2013.csv"
file15 = "../Resources/Tableau_clean/Pollution_2014.csv"
file16 = "../Resources/Tableau_clean/Pollution_2015.csv"

In [3]:
# Latitude and longitude: from https://developers.google.com/public-data/docs/canonical/states_csv

states = pd.read_csv(file11)
states = states.sort_values("name") 
states.head()

  state   latitude   longitude        name
1    AL  32.318231  -86.902298     Alabama
0    AK  63.588753 -154.493062      Alaska
3    AZ  34.048928 -111.093731     Arizona
2    AR  35.201050  -91.831833    Arkansas
4    CA  36.778261 -119.417932  California

### Medicare Data

In [4]:
# Read our data into pandas

medicare_2011 = pd.read_csv(file1)
medicare_2012 = pd.read_csv(file2)
medicare_2013 = pd.read_csv(file3)
medicare_2014 = pd.read_csv(file4)
medicare_2015 = pd.read_csv(file5)

In [5]:
medicare_2011.head()

,state_id,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
0,1,Alabama,478784,82.5,69691,83.9,63.3,80.3,42267,62.8,501422,0.99,76.4
1,2,Alaska,49648,70.9,5449,74.5,55.8,66.9,5151,55.3,54928,0.81,53.1
2,3,Arizona,465298,78.2,50991,78.5,66.1,75.8,43614,64.3,501103,0.57,51.4
3,4,Arkansas,327939,80.7,40202,82.5,66.1,76.2,29290,58.3,345431,0.85,77.0
4,5,California,2238140,72.7,243999,80.6,64.1,78.0,190971,59.0,2378472,0.63,49.9

In [6]:
# Idenitfy nan values from 2013

medicare_2013.tail()

,state_id,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Drop nan values from 2013

medicare_2013_dropped = medicare_2013.iloc[0:52]
medicare_2013_dropped.tail()

,state_id,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
47,50.0,Washington,571799.0,78.9,61248.0,86.1,67.4,78.9,46515.0,60.9,634883.0,0.58,35.6
48,51.0,West Virginia,204275.0,80.9,32596.0,83.8,59.7,79.4,17716.0,58.1,225415.0,0.83,81.2
49,52.0,Wisconsin,484902.0,80.1,52893.0,90.0,70.3,84.2,39788.0,70.5,554934.0,0.64,47.9
50,53.0,Wyoming,68066.0,74.6,6475.0,75.4,62.7,60.2,5844.0,57.1,73043.0,0.67,47.9
51,99.0,United States,26755951.0,79.1,3313579.0,84.9,66.8,81.0,2251014.0,62.8,29467940.0,0.62,53.8

In [8]:
# Drop extra row tallying up the United States

medicare_2011_states = medicare_2011.iloc[0:51]
medicare_2012_states = medicare_2012.iloc[0:51]
medicare_2013_states = medicare_2013_dropped.iloc[0:51]
medicare_2014_states = medicare_2014.iloc[0:51]
medicare_2015_states = medicare_2015.iloc[0:51]
medicare_2013_states.tail()

,state_id,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
46,49.0,Virginia,807461.0,82.7,107366.0,86.6,69.2,82.3,70841.0,63.0,900400.0,0.58,49.0
47,50.0,Washington,571799.0,78.9,61248.0,86.1,67.4,78.9,46515.0,60.9,634883.0,0.58,35.6
48,51.0,West Virginia,204275.0,80.9,32596.0,83.8,59.7,79.4,17716.0,58.1,225415.0,0.83,81.2
49,52.0,Wisconsin,484902.0,80.1,52893.0,90.0,70.3,84.2,39788.0,70.5,554934.0,0.64,47.9
50,53.0,Wyoming,68066.0,74.6,6475.0,75.4,62.7,60.2,5844.0,57.1,73043.0,0.67,47.9

In [9]:
# Sort Medicare dataframes by state name

medicare_2011 = medicare_2011.sort_values("state_name")  
medicare_2012 = medicare_2012.sort_values("state_name")  
medicare_2013 = medicare_2013.sort_values("state_name")  
medicare_2014 = medicare_2014.sort_values("state_name")  
medicare_2015 = medicare_2015.sort_values("state_name")

In [10]:
# Append latitude and longitude into Medicare dataframes

medicare_2011['latitude'] = states['latitude']
medicare_2011['longitude'] = states['longitude']
medicare_2012['latitude'] = states['latitude']
medicare_2012['longitude'] = states['longitude']
medicare_2013['latitude'] = states['latitude']
medicare_2013['longitude'] = states['longitude']
medicare_2014['latitude'] = states['latitude']
medicare_2014['longitude'] = states['longitude']
medicare_2015['latitude'] = states['latitude']
medicare_2015['longitude'] = states['longitude']

In [11]:
# Lists for year columns (made in excel using the "&" formula and the fill function)

medicare_year_2011 = ["2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011"]

medicare_year_2012 = ["2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012"]

medicare_year_2013 = ["2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013"]

medicare_year_2014 = ["2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014"]

medicare_year_2015 = ["2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015"]

In [12]:
# Adding the year column into each dataframe in order to use year filters in Tableau

medicare_2011_states.insert(1, "year", medicare_year_2011, True)
medicare_2012_states.insert(1, "year", medicare_year_2012, True)
medicare_2013_states.insert(1, "year", medicare_year_2013, True)
medicare_2014_states.insert(1, "year", medicare_year_2014, True)
medicare_2015_states.insert(1, "year", medicare_year_2015, True)

In [13]:
# Stack tables together using concat

medicare_concat_1 = pd.concat([medicare_2011_states, medicare_2012_states], axis =0)
medicare_concat_2 = pd.concat([medicare_concat_1, medicare_2013_states], axis =0)
medicare_concat_3 = pd.concat([medicare_concat_2, medicare_2014_states], axis =0)
medicare_all = pd.concat([medicare_concat_3, medicare_2015_states], axis =0)
medicare_all

,state_id,year,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
0,1.0,2011,Alabama,478784.0,82.5,69691.0,83.9,63.3,80.3,42267.0,62.8,501422.0,0.99,76.4
1,2.0,2011,Alaska,49648.0,70.9,5449.0,74.5,55.8,66.9,5151.0,55.3,54928.0,0.81,53.1
2,3.0,2011,Arizona,465298.0,78.2,50991.0,78.5,66.1,75.8,43614.0,64.3,501103.0,0.57,51.4
3,4.0,2011,Arkansas,327939.0,80.7,40202.0,82.5,66.1,76.2,29290.0,58.3,345431.0,0.85,77.0
4,5.0,2011,California,2238140.0,72.7,243999.0,80.6,64.1,78.0,190971.0,59.0,2378472.0,0.63,49.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,49.0,2015,Virginia,832699.0,83.3,98165.0,87.6,70.0,82.0,83135.0,64.5,703266.0,0.53,42.8
47,50.0,2015,Washington,610922.0,78.5,56474.0,86.6,67.7,76.3,56238.0,60.0,510796.0,0.46,32.7
48,51.0,2015,West Virginia,206961.0,80.8,29239.0,84.7,59.9,78.2,20777.0,59.1,171837.0,0.90,75.0
49,52.0,2015,Wisconsin,474364.0,79.8,46596.0,91.0,69.7,81.6,44595.0,71.9,418646.0,0.65,45.0
50,53.0,2015,Wyoming,72959.0,72.7,6146.0,78.2,62.8,59.5,7201.0,56.0,58899.0,0.39,43.1

In [14]:
# Export to csv

medicare_all.to_csv('../Resources\Tableau_clean\medicare_all.csv', index=False)

### Census Data

In [15]:
# Read our data into pandas

census_2011 = pd.read_csv(file6)
census_2012 = pd.read_csv(file7)
census_2013 = pd.read_csv(file8)
census_2014 = pd.read_csv(file9)
census_2015 = pd.read_csv(file10)

In [16]:
census_2011

    State                  Name  Population    HHI  PovertyRate
0       1               Alabama     4747424  42934    17.133186
1       2                Alaska      700703  69014     9.292239
2       4               Arizona     6337373  50752    15.835820
3       5              Arkansas     2895928  40149    17.846507
4       6            California    36969200  61632    14.096818
5       8              Colorado     4966061  57685    12.237606
6       9           Connecticut     3558172  69243     9.183676
7      10              Delaware      890856  59317    10.866515
8      11  District of Columbia      593955  61835    17.144902
9      12               Florida    18688787  47827    14.336939
10     13               Georgia     9600612  49736    16.055872
11     15                Hawaii     1346554  67116     9.980068
12     16                 Idaho     1549987  46890    13.982956
13     17              Illinois    12790182  56576    12.825681
14     18               Indiana     6454254  48393    13.714211
15     19                  Iowa     3032266  50451    11.461264
16     20                Kansas     2830985  50594    12.263717
17     21              Kentucky     4316040  42248    17.537998
18     22             Louisiana     4484596  44086    17.854563
19     23                 Maine     1328543  47898    12.430610
20     24              Maryland     5736545  72419     8.761545
21     25         Massachusetts     6512227  65981    10.341577
22     26              Michigan     9920621  48669    15.306078
23     27             Minnesota     5278190  58476    10.707345
24     28           Mississippi     2956700  38718    20.895086
25     29              Missouri     5955802  47202    13.912736
26     30               Montana      982854  45324    14.234464
27     31              Nebraska     1813061  50695    11.679254
28     32                Nevada     2673396  55553    12.751684
29     33         New Hampshire     1315911  64664     7.723471
30     34            New Jersey     8753064  71180     9.198722
31     35            New Mexico     2037136  44631    18.570238
32     36              New York    19302448  56951    14.102393
33     37        North Carolina     9418736  46291    15.644944
34     38          North Dakota      666783  49415    11.831135
35     39                  Ohio    11525536  48071    14.352417
36     40              Oklahoma     3714520  44287    15.777166
37     41                Oregon     3801991  49850    14.475889
38     42          Pennsylvania    12660739  51651    12.233638
39     44          Rhode Island     1053959  55975    12.282641
40     45        South Carolina     4575864  44587    16.471316
41     46          South Dakota      807697  48010    13.289266
42     47             Tennessee     6297991  43989    16.452850
43     48                 Texas    24774187  50920    16.630620
44     49                  Utah     2715379  57783    11.200094
45     50               Vermont      624958  53422    10.842489
46     51              Virginia     7926192  63302    10.325538
47     53            Washington     6652845  58890    12.273080
48     54         West Virginia     1846372  39550    16.971824
49     55             Wisconsin     5664893  52374    11.679921
50     56               Wyoming      554697  56380     9.897295
51     72           Puerto Rico     3742586  19122    44.783340

In [17]:
# Drop extra row tallying up Puerto Rico

census_2011_states = census_2011.iloc[0:51]
census_2012_states = census_2012.iloc[0:51]
census_2013_states = census_2013.iloc[0:51]
census_2014_states = census_2014.iloc[0:51]
census_2015_states = census_2015.iloc[0:51]
census_2011_states.head()

   State        Name  Population    HHI  PovertyRate
0      1     Alabama     4747424  42934    17.133186
1      2      Alaska      700703  69014     9.292239
2      4     Arizona     6337373  50752    15.835820
3      5    Arkansas     2895928  40149    17.846507
4      6  California    36969200  61632    14.096818

In [18]:
# Sort Census dataframes by state name

census_2011 = census_2011.sort_values("Name")  
census_2012 = census_2012.sort_values("Name")  
census_2013 = census_2013.sort_values("Name")  
census_2014 = census_2014.sort_values("Name")  
census_2015 = census_2015.sort_values("Name")

In [19]:
# Append latitude and longitude into Census dataframes

census_2011['Latitude'] = states['latitude']
census_2011['Longitude'] = states['longitude']
census_2012['Latitude'] = states['latitude']
census_2012['Longitude'] = states['longitude']
census_2013['Latitude'] = states['latitude']
census_2013['Longitude'] = states['longitude']
census_2014['Latitude'] = states['latitude']
census_2014['Longitude'] = states['longitude']
census_2015['Latitude'] = states['latitude']
census_2015['Longitude'] = states['longitude']

In [20]:
census_2011

,State,Name,Population,HHI,PovertyRate,Latitude,Longitude
0,1,Alabama,4747424,42934,17.133186,63.588753,-154.493062
1,2,Alaska,700703,69014,9.292239,32.318231,-86.902298
2,4,Arizona,6337373,50752,15.835820,35.201050,-91.831833
3,5,Arkansas,2895928,40149,17.846507,34.048928,-111.093731
4,6,California,36969200,61632,14.096818,36.778261,-119.417932
5,8,Colorado,4966061,57685,12.237606,39.550051,-105.782067
6,9,Connecticut,3558172,69243,9.183676,41.603221,-73.087749
7,10,Delaware,890856,59317,10.866515,38.905985,-77.033418
8,11,District of Columbia,593955,61835,17.144902,38.910832,-75.527670
9,12,Florida,18688787,47827,14.336939,27.664827,-81.515754
10,13,Georgia,9600612,49736,16.055872,32.157435,-82.907123
11,15,Hawaii,1346554,67116,9.980068,19.898682,-155.665857
12,16,Idaho,1549987,46890,13.982956,41.878003,-93.097702
13,17,Illinois,12790182,56576,12.825681,44.068202,-114.742041
14,18,Indiana,6454254,48393,13.714211,40.633125,-89.398528
15,19,Iowa,3032266,50451,11.461264,40.551217,-85.602364
16,20,Kansas,2830985,50594,12.263717,39.011902,-98.484246
17,21,Kentucky,4316040,42248,17.537998,37.839333,-84.270018
18,22,Louisiana,4484596,44086,17.854563,31.244823,-92.145024
19,23,Maine,1328543,47898,12.430610,42.407211,-71.382437
20,24,Maryland,5736545,72419,8.761545,39.045755,-76.641271
21,25,Massachusetts,6512227,65981,10.341577,45.253783,-69.445469
22,26,Michigan,9920621,48669,15.306078,44.314844,-85.602364
23,27,Minnesota,5278190,58476,10.707345,46.729553,-94.685900
24,28,Mississippi,2956700,38718,20.895086,37.964253,-91.831833
25,29,Missouri,5955802,47202,13.912736,32.354668,-89.398528
26,30,Montana,982854,45324,14.234464,46.879682,-110.362566
27,31,Nebraska,1813061,50695,11.679254,35.759573,-79.019300
28,32,Nevada,2673396,55553,12.751684,47.551493,-101.002012
29,33,New Hampshire,1315911,64664,7.723471,41.492537,-99.901813
30,34,New Jersey,8753064,71180,9.198722,43.193852,-71.572395
31,35,New Mexico,2037136,44631,18.570238,40.058324,-74.405661
32,36,New York,19302448,56951,14.102393,34.972730,-105.032363
33,37,North Carolina,9418736,46291,15.644944,38.802610,-116.419389
34,38,North Dakota,666783,49415,11.831135,43.299428,-74.217933
35,39,Ohio,11525536,48071,14.352417,40.417287,-82.907123
36,40,Oklahoma,3714520,44287,15.777166,35.007752,-97.092877
37,41,Oregon,3801991,49850,14.475889,43.804133,-120.554201
38,42,Pennsylvania,12660739,51651,12.233638,41.203322,-77.194525
51,72,Puerto Rico,3742586,19122,44.783340,43.075968,-107.290284
39,44,Rhode Island,1053959,55975,12.282641,18.220833,-66.590149
40,45,South Carolina,4575864,44587,16.471316,41.580095,-71.477429
41,46,South Dakota,807697,48010,13.289266,33.836081,-81.163725
42,47,Tennessee,6297991,43989,16.452850,43.969515,-99.901813
43,48,Texas,24774187,50920,16.630620,35.517491,-86.580447
44,49,Utah,2715379,57783,11.200094,31.968599,-99.901813
45,50,Vermont,624958,53422,10.842489,39.320980,-111.093731
46,51,Virginia,7926192,63302,10.325538,37.431573,-78.656894
47,53,Washington,6652845,58890,12.273080,44.558803,-72.577841
48,54,West Virginia,1846372,39550,16.971824,47.751074,-120.740139
49,55,Wisconsin,5664893,52374,11.679921,43.784440,-88.787868
50,56,Wyoming,554697,56380,9.897295,38.597626,-80.454903

In [21]:
# Lists for year columns (copied from above)

census_year_2011 = ["2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011"]

census_year_2012 = ["2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012"]

census_year_2013 = ["2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013"]

census_year_2014 = ["2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014"]

census_year_2015 = ["2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015"]

In [22]:
# Adding the year column into each dataframe

census_2011_states.insert(1, "year", census_year_2011, True)
census_2012_states.insert(1, "year", census_year_2012, True)
census_2013_states.insert(1, "year", census_year_2013, True)
census_2014_states.insert(1, "year", census_year_2014, True)
census_2015_states.insert(1, "year", census_year_2015, True)

In [23]:
# Stack tables together using concat

census_concat_1 = pd.concat([census_2011_states, census_2012_states], axis =0)
census_concat_2 = pd.concat([census_concat_1, census_2013_states], axis =0)
census_concat_3 = pd.concat([census_concat_2, census_2014_states], axis =0)
census_all = pd.concat([census_concat_3, census_2015_states], axis =0)
census_all

    State  year           Name  Population    HHI  PovertyRate
0       1  2011        Alabama     4747424  42934    17.133186
1       2  2011         Alaska      700703  69014     9.292239
2       4  2011        Arizona     6337373  50752    15.835820
3       5  2011       Arkansas     2895928  40149    17.846507
4       6  2011     California    36969200  61632    14.096818
..    ...   ...            ...         ...    ...          ...
46     51  2015       Virginia     8256630  65015    11.164628
47     53  2015     Washington     6985464  61062    13.005750
48     54  2015  West Virginia     1851420  41751    17.466809
49     55  2015      Wisconsin     5742117  53357    12.614651
50     56  2015        Wyoming      579679  58840    11.212240

[255 rows x 6 columns]

In [24]:
# Export to csv

census_all.to_csv('..\Resources\Tableau_clean\census_all.csv', index=False)

### Pollution Data

In [25]:
# Read our data into pandas

pollution_2011 = pd.read_csv(file12)
pollution_2012 = pd.read_csv(file13)
pollution_2013 = pd.read_csv(file14)
pollution_2014 = pd.read_csv(file15)
pollution_2015 = pd.read_csv(file16)

In [26]:
pollution_2011.reset_index(drop=True)

,State,County,Year,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days,Max_AQI,90th_Percentile_AQI,Median_AQI,Days_CO,Days_NO2,Days_Ozone,Days_SO2,Days_PM2.5,Days_PM10
0,Alabama,Baldwin,2011,282,204,69,9,0,0,0,126,74,42,0,0,209,0,73,0
1,Alabama,Clay,2011,118,80,38,0,0,0,0,86,63,39,0,0,0,0,118,0
2,Alabama,Colbert,2011,279,214,64,1,0,0,0,101,61,42,0,0,197,0,82,0
3,Alabama,DeKalb,2011,336,257,78,1,0,0,0,101,63,40,0,0,271,0,65,0
4,Alabama,Elmore,2011,242,192,48,2,0,0,0,105,64,44,0,0,242,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088,Wyoming,Sublette,2011,365,214,134,12,2,3,0,219,77,48,0,3,348,0,12,2
1089,Wyoming,Sweetwater,2011,365,227,133,5,0,0,0,108,71,48,0,4,312,4,5,40
1090,Wyoming,Teton,2011,364,274,90,0,0,0,0,90,64,44,4,0,349,0,10,1
1091,Wyoming,Uinta,2011,365,322,43,0,0,0,0,90,51,43,0,0,359,0,0,6
1092,Wyoming,Weston,2011,351,351,0,0,0,0,0,23,7,0,0,0,0,351,0,0

In [27]:
# Sort Pollution dataframes by state name

pollution_2011 = pollution_2011.sort_values("State")  
pollution_2012 = pollution_2012.sort_values("State")  
pollution_2013 = pollution_2013.sort_values("State")  
pollution_2014 = pollution_2014.sort_values("State")  
pollution_2015 = pollution_2015.sort_values("State")

In [28]:
# Idenitfy rows with Mexico data

pollution_2011.iloc[150:160]

,State,County,Year,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days,Max_AQI,90th_Percentile_AQI,Median_AQI,Days_CO,Days_NO2,Days_Ozone,Days_SO2,Days_PM2.5,Days_PM10
149,Connecticut,Tolland,2011,167,145,19,2,1,0,0,154,58,39,0,0,167,0,0,0
152,Country Of Mexico,CHIHUAHUA STATE,2011,360,255,90,9,1,3,2,346,80,42,44,0,258,0,0,58
151,Country Of Mexico,BAJA CALIFORNIA NORTE,2011,365,185,123,42,11,2,2,397,116,50,60,97,150,0,0,58
153,Delaware,Kent,2011,365,293,67,3,2,0,0,172,64,40,0,0,319,0,46,0
154,Delaware,New Castle,2011,365,180,167,14,4,0,0,187,81,51,0,1,160,0,204,0
155,Delaware,Sussex,2011,365,277,72,15,1,0,0,172,80,41,0,0,335,0,30,0
156,District Of Columbia,District of Columbia,2011,365,135,214,13,3,0,0,166,84,54,0,26,114,1,224,0
178,Florida,Marion,2011,365,266,95,4,0,0,0,119,64,41,0,0,216,0,149,0
179,Florida,Martin,2011,363,294,69,0,0,0,0,100,56,39,0,0,225,0,138,0
180,Florida,Miami-Dade,2011,365,279,82,4,0,0,0,129,59,42,0,3,130,0,232,0

In [29]:
# Get names of indexes for which column State has value of Mexico
indexNames = pollution_2011[pollution_2011['State'] == "Country Of Mexico" ].index
indexNames2 = pollution_2012[pollution_2012['State'] == "Country Of Mexico" ].index
indexNames3 = pollution_2013[pollution_2013['State'] == "Country Of Mexico" ].index
indexNames4 = pollution_2014[pollution_2014['State'] == "Country Of Mexico" ].index
indexNames5 = pollution_2015[pollution_2015['State'] == "Country Of Mexico" ].index


# Delete these row indexes from dataFrame
pollution_2011.drop(indexNames , inplace=True)
pollution_2012.drop(indexNames2 , inplace=True)
pollution_2013.drop(indexNames3 , inplace=True)
pollution_2014.drop(indexNames4 , inplace=True)
pollution_2015.drop(indexNames5 , inplace=True)

pollution_2011.iloc[150:160]

,State,County,Year,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days,Max_AQI,90th_Percentile_AQI,Median_AQI,Days_CO,Days_NO2,Days_Ozone,Days_SO2,Days_PM2.5,Days_PM10
149,Connecticut,Tolland,2011,167,145,19,2,1,0,0,154,58,39,0,0,167,0,0,0
153,Delaware,Kent,2011,365,293,67,3,2,0,0,172,64,40,0,0,319,0,46,0
154,Delaware,New Castle,2011,365,180,167,14,4,0,0,187,81,51,0,1,160,0,204,0
155,Delaware,Sussex,2011,365,277,72,15,1,0,0,172,80,41,0,0,335,0,30,0
156,District Of Columbia,District of Columbia,2011,365,135,214,13,3,0,0,166,84,54,0,26,114,1,224,0
178,Florida,Marion,2011,365,266,95,4,0,0,0,119,64,41,0,0,216,0,149,0
179,Florida,Martin,2011,363,294,69,0,0,0,0,100,56,39,0,0,225,0,138,0
180,Florida,Miami-Dade,2011,365,279,82,4,0,0,0,129,59,42,0,3,130,0,232,0
181,Florida,Nassau,2011,333,284,38,10,1,0,0,154,59,9,0,0,0,333,0,0
182,Florida,Okaloosa,2011,363,322,39,2,0,0,0,112,51,35,0,0,363,0,0,0

In [30]:
# Sort Pollution dataframes by state name

pollution_2011_states = pollution_2011.sort_values("State")  
pollution_2012_states = pollution_2012.sort_values("State")  
pollution_2013_states = pollution_2013.sort_values("State")  
pollution_2014_states = pollution_2014.sort_values("State")  
pollution_2015_states = pollution_2015.sort_values("State")

In [31]:
# Append latitude and longitude into Pollution dataframes

pollution_2011_states['Latitude'] = states['latitude']
pollution_2011_states['Longitude'] = states['longitude']
pollution_2012_states['Latitude'] = states['latitude']
pollution_2012_states['Longitude'] = states['longitude']
pollution_2013_states['Latitude'] = states['latitude']
pollution_2013_states['Longitude'] = states['longitude']
pollution_2014_states['Latitude'] = states['latitude']
pollution_2014_states['Longitude'] = states['longitude']
pollution_2015_states['Latitude'] = states['latitude']
pollution_2015_states['Longitude'] = states['longitude']

In [32]:
# Stack tables together using concat

pollution_concat_1 = pd.concat([pollution_2011_states, pollution_2012_states], axis =0)
pollution_concat_2 = pd.concat([pollution_concat_1, pollution_2013_states], axis =0)
pollution_concat_3 = pd.concat([pollution_concat_2, pollution_2014_states], axis =0)
pollution_all = pd.concat([pollution_concat_3, pollution_2015_states], axis =0)
pollution_all.iloc[150:160]

,State,County,Year,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days,...,90th_Percentile_AQI,Median_AQI,Days_CO,Days_NO2,Days_Ozone,Days_SO2,Days_PM2.5,Days_PM10,Latitude,Longitude
150,Connecticut,Windham,2011,212,193,16,3,0,0,0,...,50,34,0,0,212,0,0,0,NaN,NaN
153,Delaware,Kent,2011,365,293,67,3,2,0,0,...,64,40,0,0,319,0,46,0,NaN,NaN
154,Delaware,New Castle,2011,365,180,167,14,4,0,0,...,81,51,0,1,160,0,204,0,NaN,NaN
155,Delaware,Sussex,2011,365,277,72,15,1,0,0,...,80,41,0,0,335,0,30,0,NaN,NaN
156,District Of Columbia,District of Columbia,2011,365,135,214,13,3,0,0,...,84,54,0,26,114,1,224,0,NaN,NaN
175,Florida,Leon,2011,365,215,143,6,1,0,0,...,77,47,0,0,140,0,225,0,NaN,NaN
157,Florida,Alachua,2011,356,252,102,2,0,0,0,...,62,41,0,0,184,0,172,0,NaN,NaN
160,Florida,Brevard,2011,365,288,75,2,0,0,0,...,58,41,0,0,241,0,124,0,NaN,NaN
161,Florida,Broward,2011,365,308,55,2,0,0,0,...,54,38,0,8,179,0,178,0,NaN,NaN
162,Florida,Citrus,2011,116,110,6,0,0,0,0,...,45,27,0,0,0,0,116,0,NaN,NaN

In [33]:
# Get list of column names

list(pollution_all.columns)

['State',
 'County',
 'Year',
 'Days_with_AQI',
 'Good_Days',
 'Moderate_Days',
 'Unhealthy_for_Sensitive_Groups_Days',
 'Unhealthy_Days',
 'Very_Unhealthy_Days',
 'Hazardous_Days',
 'Max_AQI',
 '90th_Percentile_AQI',
 'Median_AQI',
 'Days_CO',
 'Days_NO2',
 'Days_Ozone',
 'Days_SO2',
 'Days_PM2.5',
 'Days_PM10',
 'Latitude',
 'Longitude']

In [34]:
# Group Data by State

pollution_stats = pd.DataFrame({"Days_with_AQI": pollution_all.groupby(["State"]).mean()["Days_with_AQI"], 
                                "Year": pollution_all.groupby(["State"]).count()["Year"],
                             "Good_Days": pollution_all.groupby(["State"]).mean()["Good_Days"],
                             "Moderate_Days": pollution_all.groupby(["State"]).mean()["Moderate_Days"], 
                             "Unhealthy_Days": pollution_all.groupby(["State"]).mean()["Unhealthy_Days"],   
                             "Very_Unhealthy_Days": pollution_all.groupby(["State"]).mean()["Very_Unhealthy_Days"], 
                             "Hazardous_Days": pollution_all.groupby(["State"]).mean()["Unhealthy_Days"],
                             "Days_CO": pollution_all.groupby(["State"]).mean()["Days_CO"],
                             "Days_NO2": pollution_all.groupby(["State"]).mean()["Days_NO2"],
                             "Days_Ozone": pollution_all.groupby(["State"]).mean()["Days_Ozone"],
                             "Days_SO2": pollution_all.groupby(["State"]).mean()["Days_SO2"],
                             "Days_PM2.5": pollution_all.groupby(["State"]).mean()["Days_PM2.5"],
                             "Days_PM10": pollution_all.groupby(["State"]).mean()["Days_PM10"],
                             "Latitude": pollution_all.groupby(["State"]).mean()["Latitude"],
                             "Longitude": pollution_all.groupby(["State"]).mean()["Longitude"]})                                                                            
                                                                                     
                                                                                    
pollution_stats.head()

,Days_with_AQI,Year,Good_Days,Moderate_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days,Days_CO,Days_NO2,Days_Ozone,Days_SO2,Days_PM2.5,Days_PM10,Latitude,Longitude
State,,,,,,,,,,,,,,,
Alabama,264.833333,90,205.455556,57.288889,0.155556,0.000000,0.155556,0.022222,0.211111,163.211111,1.133333,96.644444,3.611111,37.960508,-99.023800
Alaska,277.950000,40,232.375000,37.500000,3.750000,0.200000,3.750000,1.500000,0.475000,74.125000,0.300000,165.475000,36.075000,40.442349,-84.218829
Arizona,344.061538,65,206.292308,113.615385,2.953846,0.492308,2.953846,0.000000,2.476923,180.169231,18.692308,32.107692,110.615385,40.380094,-92.566806
Arkansas,246.343750,64,193.281250,51.171875,0.109375,0.000000,0.109375,0.000000,2.796875,136.828125,19.390625,87.328125,0.000000,38.576730,-89.380576
California,346.011111,270,195.314815,120.751852,5.774074,0.274074,5.774074,0.088889,5.866667,206.562963,0.074074,119.237037,14.181481,40.836797,-93.872593

In [40]:
# Export to csv

pollution_stats.reset_index("State").to_csv('..\Resources\Tableau_clean\pollution_stats.csv', index=False)