## Data Cleaning - For Tableau Import/Map

### Import dependcies and read in csv files

In [1]:
# Import pandas

import pandas as pd

In [2]:
# Assigning the paths to our CSV files

file = "Resources/Pollution_clean/Clean_Pollution.csv"
file1 = "Resources/Medicare_clean/clean_pc_state_rates_2011.csv"
file2 = "Resources/Medicare_clean/clean_pc_state_rates_2012.csv"
file3 = "Resources/Medicare_clean/clean_pc_state_rates_2013.csv"
file4 = "Resources/Medicare_clean/clean_pc_state_rates_2014.csv"
file5 = "Resources/Medicare_clean/clean_pc_state_rates_2015.csv"
file6 = "Resources/Census_clean/clean_census_2011.csv"
file7 = "Resources/Census_clean/clean_census_2012.csv"
file8 = "Resources/Census_clean/clean_census_2013.csv"
file9 = "Resources/Census_clean/clean_census_2014.csv"
file10 = "Resources/Census_clean/clean_census_2015.csv"
file11 = "Resources/Tableau_clean/states_lat_and_long.csv"

In [3]:
# Latitude and longitude: from https://developers.google.com/public-data/docs/canonical/states_csv
states = pd.read_csv(file11)
states = states.sort_values("name") 
states.head()

  state   latitude   longitude        name
1    AL  32.318231  -86.902298     Alabama
0    AK  63.588753 -154.493062      Alaska
3    AZ  34.048928 -111.093731     Arizona
2    AR  35.201050  -91.831833    Arkansas
4    CA  36.778261 -119.417932  California

### Medicare Data

In [4]:
# Read our data into pandas

medicare_2011 = pd.read_csv(file1)
medicare_2012 = pd.read_csv(file2)
medicare_2013 = pd.read_csv(file3)
medicare_2014 = pd.read_csv(file4)
medicare_2015 = pd.read_csv(file5)

In [5]:
medicare_2011.head()

,state_id,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
0,1,Alabama,478784,82.5,69691,83.9,63.3,80.3,42267,62.8,501422,0.99,76.4
1,2,Alaska,49648,70.9,5449,74.5,55.8,66.9,5151,55.3,54928,0.81,53.1
2,3,Arizona,465298,78.2,50991,78.5,66.1,75.8,43614,64.3,501103,0.57,51.4
3,4,Arkansas,327939,80.7,40202,82.5,66.1,76.2,29290,58.3,345431,0.85,77.0
4,5,California,2238140,72.7,243999,80.6,64.1,78.0,190971,59.0,2378472,0.63,49.9

In [6]:
# Idenitfy nan values from 2013
medicare_2013.tail()

,state_id,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Drop nan values from 2013
medicare_2013_dropped = medicare_2013.iloc[0:52]
medicare_2013_dropped.tail()

,state_id,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
47,50.0,Washington,571799.0,78.9,61248.0,86.1,67.4,78.9,46515.0,60.9,634883.0,0.58,35.6
48,51.0,West Virginia,204275.0,80.9,32596.0,83.8,59.7,79.4,17716.0,58.1,225415.0,0.83,81.2
49,52.0,Wisconsin,484902.0,80.1,52893.0,90.0,70.3,84.2,39788.0,70.5,554934.0,0.64,47.9
50,53.0,Wyoming,68066.0,74.6,6475.0,75.4,62.7,60.2,5844.0,57.1,73043.0,0.67,47.9
51,99.0,United States,26755951.0,79.1,3313579.0,84.9,66.8,81.0,2251014.0,62.8,29467940.0,0.62,53.8

In [8]:
# Drop extra row tallying up the United States
medicare_2011_states = medicare_2011.iloc[0:51]
medicare_2012_states = medicare_2012.iloc[0:51]
medicare_2013_states = medicare_2013_dropped.iloc[0:51]
medicare_2014_states = medicare_2014.iloc[0:51]
medicare_2015_states = medicare_2015.iloc[0:51]
medicare_2013_states.tail()

,state_id,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
46,49.0,Virginia,807461.0,82.7,107366.0,86.6,69.2,82.3,70841.0,63.0,900400.0,0.58,49.0
47,50.0,Washington,571799.0,78.9,61248.0,86.1,67.4,78.9,46515.0,60.9,634883.0,0.58,35.6
48,51.0,West Virginia,204275.0,80.9,32596.0,83.8,59.7,79.4,17716.0,58.1,225415.0,0.83,81.2
49,52.0,Wisconsin,484902.0,80.1,52893.0,90.0,70.3,84.2,39788.0,70.5,554934.0,0.64,47.9
50,53.0,Wyoming,68066.0,74.6,6475.0,75.4,62.7,60.2,5844.0,57.1,73043.0,0.67,47.9

In [9]:
# Sort Medicare dataframes by state name
medicare_2011 = medicare_2011.sort_values("state_name")  
medicare_2012 = medicare_2012.sort_values("state_name")  
medicare_2013 = medicare_2013.sort_values("state_name")  
medicare_2014 = medicare_2014.sort_values("state_name")  
medicare_2015 = medicare_2015.sort_values("state_name")

In [10]:
# Append latitude and longitude into Medicare dataframes
medicare_2011['latitude'] = states['latitude']
medicare_2011['longitude'] = states['longitude']
medicare_2012['latitude'] = states['latitude']
medicare_2012['longitude'] = states['longitude']
medicare_2013['latitude'] = states['latitude']
medicare_2013['longitude'] = states['longitude']
medicare_2014['latitude'] = states['latitude']
medicare_2014['longitude'] = states['longitude']
medicare_2015['latitude'] = states['latitude']
medicare_2015['longitude'] = states['longitude']

In [11]:
# Lists for year columns (made in excel using the "&" formula and the fill function)
medicare_year_2011 = ["2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011"]

medicare_year_2012 = ["2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012"]

medicare_year_2013 = ["2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013"]

medicare_year_2014 = ["2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014"]

medicare_year_2015 = ["2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015"]

In [12]:
# Adding the year column into each dataframe in order to use year filters in Tableau
medicare_2011_states.insert(1, "year", medicare_year_2011, True)
medicare_2012_states.insert(1, "year", medicare_year_2012, True)
medicare_2013_states.insert(1, "year", medicare_year_2013, True)
medicare_2014_states.insert(1, "year", medicare_year_2014, True)
medicare_2015_states.insert(1, "year", medicare_year_2015, True)

In [13]:
# Stack tables together using concat
medicare_concat_1 = pd.concat([medicare_2011_states, medicare_2012_states], axis =0)
medicare_concat_2 = pd.concat([medicare_concat_1, medicare_2013_states], axis =0)
medicare_concat_3 = pd.concat([medicare_concat_2, medicare_2014_states], axis =0)
medicare_all = pd.concat([medicare_concat_3, medicare_2015_states], axis =0)
medicare_all

,state_id,year,state_name,beneficiaries_part_b,one_ambulatory_visit,diabetic_enrollees_age_65_to_75,average_diabetic_enrollees_hemoglobin_a1c_test,average_diabetic_enrollees_eye_exam,average_diabetic_enrollees_blood_lipids_test,average_female_enrollees_age_67_to_69,average_female_age_67_to_69_mammogram,beneficiaries_part_a_eligible,leg_amputations_per_1000_enrollees,discharges_ambulatory_care_sensitive_conditions_per_1000_enrollees
0,1.0,2011,Alabama,478784.0,82.5,69691.0,83.9,63.3,80.3,42267.0,62.8,501422.0,0.99,76.4
1,2.0,2011,Alaska,49648.0,70.9,5449.0,74.5,55.8,66.9,5151.0,55.3,54928.0,0.81,53.1
2,3.0,2011,Arizona,465298.0,78.2,50991.0,78.5,66.1,75.8,43614.0,64.3,501103.0,0.57,51.4
3,4.0,2011,Arkansas,327939.0,80.7,40202.0,82.5,66.1,76.2,29290.0,58.3,345431.0,0.85,77.0
4,5.0,2011,California,2238140.0,72.7,243999.0,80.6,64.1,78.0,190971.0,59.0,2378472.0,0.63,49.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,49.0,2015,Virginia,832699.0,83.3,98165.0,87.6,70.0,82.0,83135.0,64.5,703266.0,0.53,42.8
47,50.0,2015,Washington,610922.0,78.5,56474.0,86.6,67.7,76.3,56238.0,60.0,510796.0,0.46,32.7
48,51.0,2015,West Virginia,206961.0,80.8,29239.0,84.7,59.9,78.2,20777.0,59.1,171837.0,0.90,75.0
49,52.0,2015,Wisconsin,474364.0,79.8,46596.0,91.0,69.7,81.6,44595.0,71.9,418646.0,0.65,45.0
50,53.0,2015,Wyoming,72959.0,72.7,6146.0,78.2,62.8,59.5,7201.0,56.0,58899.0,0.39,43.1

In [14]:
# Export to csv
medicare_all.to_csv('Resources\Tableau_clean\medicare_all.csv', index=False)

### Census Data

In [15]:
# Read our data into pandas
census_2011 = pd.read_csv(file6)
census_2012 = pd.read_csv(file7)
census_2013 = pd.read_csv(file8)
census_2014 = pd.read_csv(file9)
census_2015 = pd.read_csv(file10)

In [16]:
census_2011

    State                  Name  Population    HHI  PovertyRate
0       1               Alabama     4747424  42934    17.133186
1       2                Alaska      700703  69014     9.292239
2       4               Arizona     6337373  50752    15.835820
3       5              Arkansas     2895928  40149    17.846507
4       6            California    36969200  61632    14.096818
5       8              Colorado     4966061  57685    12.237606
6       9           Connecticut     3558172  69243     9.183676
7      10              Delaware      890856  59317    10.866515
8      11  District of Columbia      593955  61835    17.144902
9      12               Florida    18688787  47827    14.336939
10     13               Georgia     9600612  49736    16.055872
11     15                Hawaii     1346554  67116     9.980068
12     16                 Idaho     1549987  46890    13.982956
13     17              Illinois    12790182  56576    12.825681
14     18               Indiana     6454254  48393    13.714211
15     19                  Iowa     3032266  50451    11.461264
16     20                Kansas     2830985  50594    12.263717
17     21              Kentucky     4316040  42248    17.537998
18     22             Louisiana     4484596  44086    17.854563
19     23                 Maine     1328543  47898    12.430610
20     24              Maryland     5736545  72419     8.761545
21     25         Massachusetts     6512227  65981    10.341577
22     26              Michigan     9920621  48669    15.306078
23     27             Minnesota     5278190  58476    10.707345
24     28           Mississippi     2956700  38718    20.895086
25     29              Missouri     5955802  47202    13.912736
26     30               Montana      982854  45324    14.234464
27     31              Nebraska     1813061  50695    11.679254
28     32                Nevada     2673396  55553    12.751684
29     33         New Hampshire     1315911  64664     7.723471
30     34            New Jersey     8753064  71180     9.198722
31     35            New Mexico     2037136  44631    18.570238
32     36              New York    19302448  56951    14.102393
33     37        North Carolina     9418736  46291    15.644944
34     38          North Dakota      666783  49415    11.831135
35     39                  Ohio    11525536  48071    14.352417
36     40              Oklahoma     3714520  44287    15.777166
37     41                Oregon     3801991  49850    14.475889
38     42          Pennsylvania    12660739  51651    12.233638
39     44          Rhode Island     1053959  55975    12.282641
40     45        South Carolina     4575864  44587    16.471316
41     46          South Dakota      807697  48010    13.289266
42     47             Tennessee     6297991  43989    16.452850
43     48                 Texas    24774187  50920    16.630620
44     49                  Utah     2715379  57783    11.200094
45     50               Vermont      624958  53422    10.842489
46     51              Virginia     7926192  63302    10.325538
47     53            Washington     6652845  58890    12.273080
48     54         West Virginia     1846372  39550    16.971824
49     55             Wisconsin     5664893  52374    11.679921
50     56               Wyoming      554697  56380     9.897295
51     72           Puerto Rico     3742586  19122    44.783340

In [17]:
# Drop extra row tallying up Puerto Rico
census_2011_states = census_2011.iloc[0:51]
census_2012_states = census_2012.iloc[0:51]
census_2013_states = census_2013.iloc[0:51]
census_2014_states = census_2014.iloc[0:51]
census_2015_states = census_2015.iloc[0:51]
census_2011_states.head()

   State        Name  Population    HHI  PovertyRate
0      1     Alabama     4747424  42934    17.133186
1      2      Alaska      700703  69014     9.292239
2      4     Arizona     6337373  50752    15.835820
3      5    Arkansas     2895928  40149    17.846507
4      6  California    36969200  61632    14.096818

In [18]:
# Sort Census dataframes by state name
census_2011 = census_2011.sort_values("Name")  
census_2012 = census_2012.sort_values("Name")  
census_2013 = census_2013.sort_values("Name")  
census_2014 = census_2014.sort_values("Name")  
census_2015 = census_2015.sort_values("Name")

In [19]:
# Append latitude and longitude into Census dataframes
census_2011['Latitude'] = states['latitude']
census_2011['Longitude'] = states['longitude']
census_2012['Latitude'] = states['latitude']
census_2012['Longitude'] = states['longitude']
census_2013['Latitude'] = states['latitude']
census_2013['Longitude'] = states['longitude']
census_2014['Latitude'] = states['latitude']
census_2014['Longitude'] = states['longitude']
census_2015['Latitude'] = states['latitude']
census_2015['Longitude'] = states['longitude']

In [20]:
census_2011

,State,Name,Population,HHI,PovertyRate,Latitude,Longitude
0,1,Alabama,4747424,42934,17.133186,63.588753,-154.493062
1,2,Alaska,700703,69014,9.292239,32.318231,-86.902298
2,4,Arizona,6337373,50752,15.835820,35.201050,-91.831833
3,5,Arkansas,2895928,40149,17.846507,34.048928,-111.093731
4,6,California,36969200,61632,14.096818,36.778261,-119.417932
5,8,Colorado,4966061,57685,12.237606,39.550051,-105.782067
6,9,Connecticut,3558172,69243,9.183676,41.603221,-73.087749
7,10,Delaware,890856,59317,10.866515,38.905985,-77.033418
8,11,District of Columbia,593955,61835,17.144902,38.910832,-75.527670
9,12,Florida,18688787,47827,14.336939,27.664827,-81.515754
10,13,Georgia,9600612,49736,16.055872,32.157435,-82.907123
11,15,Hawaii,1346554,67116,9.980068,19.898682,-155.665857
12,16,Idaho,1549987,46890,13.982956,41.878003,-93.097702
13,17,Illinois,12790182,56576,12.825681,44.068202,-114.742041
14,18,Indiana,6454254,48393,13.714211,40.633125,-89.398528
15,19,Iowa,3032266,50451,11.461264,40.551217,-85.602364
16,20,Kansas,2830985,50594,12.263717,39.011902,-98.484246
17,21,Kentucky,4316040,42248,17.537998,37.839333,-84.270018
18,22,Louisiana,4484596,44086,17.854563,31.244823,-92.145024
19,23,Maine,1328543,47898,12.430610,42.407211,-71.382437
20,24,Maryland,5736545,72419,8.761545,39.045755,-76.641271
21,25,Massachusetts,6512227,65981,10.341577,45.253783,-69.445469
22,26,Michigan,9920621,48669,15.306078,44.314844,-85.602364
23,27,Minnesota,5278190,58476,10.707345,46.729553,-94.685900
24,28,Mississippi,2956700,38718,20.895086,37.964253,-91.831833
25,29,Missouri,5955802,47202,13.912736,32.354668,-89.398528
26,30,Montana,982854,45324,14.234464,46.879682,-110.362566
27,31,Nebraska,1813061,50695,11.679254,35.759573,-79.019300
28,32,Nevada,2673396,55553,12.751684,47.551493,-101.002012
29,33,New Hampshire,1315911,64664,7.723471,41.492537,-99.901813
30,34,New Jersey,8753064,71180,9.198722,43.193852,-71.572395
31,35,New Mexico,2037136,44631,18.570238,40.058324,-74.405661
32,36,New York,19302448,56951,14.102393,34.972730,-105.032363
33,37,North Carolina,9418736,46291,15.644944,38.802610,-116.419389
34,38,North Dakota,666783,49415,11.831135,43.299428,-74.217933
35,39,Ohio,11525536,48071,14.352417,40.417287,-82.907123
36,40,Oklahoma,3714520,44287,15.777166,35.007752,-97.092877
37,41,Oregon,3801991,49850,14.475889,43.804133,-120.554201
38,42,Pennsylvania,12660739,51651,12.233638,41.203322,-77.194525
51,72,Puerto Rico,3742586,19122,44.783340,43.075968,-107.290284
39,44,Rhode Island,1053959,55975,12.282641,18.220833,-66.590149
40,45,South Carolina,4575864,44587,16.471316,41.580095,-71.477429
41,46,South Dakota,807697,48010,13.289266,33.836081,-81.163725
42,47,Tennessee,6297991,43989,16.452850,43.969515,-99.901813
43,48,Texas,24774187,50920,16.630620,35.517491,-86.580447
44,49,Utah,2715379,57783,11.200094,31.968599,-99.901813
45,50,Vermont,624958,53422,10.842489,39.320980,-111.093731
46,51,Virginia,7926192,63302,10.325538,37.431573,-78.656894
47,53,Washington,6652845,58890,12.273080,44.558803,-72.577841
48,54,West Virginia,1846372,39550,16.971824,47.751074,-120.740139
49,55,Wisconsin,5664893,52374,11.679921,43.784440,-88.787868
50,56,Wyoming,554697,56380,9.897295,38.597626,-80.454903

In [21]:
# Lists for year columns (copied from above)
census_year_2011 = ["2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", 
        "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011", "2011"]

census_year_2012 = ["2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012",
             "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012", "2012"]

census_year_2013 = ["2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013",
             "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013", "2013"]

census_year_2014 = ["2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014",
                      "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014", "2014"]

census_year_2015 = ["2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015",
                      "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015", "2015"]

In [22]:
# Adding the year column into each dataframe
census_2011_states.insert(1, "year", census_year_2011, True)
census_2012_states.insert(1, "year", census_year_2012, True)
census_2013_states.insert(1, "year", census_year_2013, True)
census_2014_states.insert(1, "year", census_year_2014, True)
census_2015_states.insert(1, "year", census_year_2015, True)

In [23]:
# Stack tables together using concat
census_concat_1 = pd.concat([census_2011_states, census_2012_states], axis =0)
census_concat_2 = pd.concat([census_concat_1, census_2013_states], axis =0)
census_concat_3 = pd.concat([census_concat_2, census_2014_states], axis =0)
census_all = pd.concat([census_concat_3, census_2015_states], axis =0)
census_all

    State  year           Name  Population    HHI  PovertyRate
0       1  2011        Alabama     4747424  42934    17.133186
1       2  2011         Alaska      700703  69014     9.292239
2       4  2011        Arizona     6337373  50752    15.835820
3       5  2011       Arkansas     2895928  40149    17.846507
4       6  2011     California    36969200  61632    14.096818
..    ...   ...            ...         ...    ...          ...
46     51  2015       Virginia     8256630  65015    11.164628
47     53  2015     Washington     6985464  61062    13.005750
48     54  2015  West Virginia     1851420  41751    17.466809
49     55  2015      Wisconsin     5742117  53357    12.614651
50     56  2015        Wyoming      579679  58840    11.212240

[255 rows x 6 columns]

In [24]:
# Export to csv
census_all.to_csv('Resources\Tableau_clean\census_all.csv', index=False)

### Pollution Data

In [25]:
# Read our data into pandas
pollution_dataframe = pd.read_csv(file)
pollution_dataframe.head()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean
0,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,1.145833
1,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,0.878947
2,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,1.145833
3,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,0.878947
4,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,Parts per million,0.850000

In [26]:
# Check data types
pollution_dataframe.dtypes

state          object
county         object
city           object
date_local     object
no2_units      object
no2_mean      float64
o3_units       object
o3_mean       float64
so2_units      object
so2_mean      float64
co_units       object
co_mean       float64
dtype: object

In [27]:
# Convert to datetime object
pollution_dataframe['date_local'] =  pd.to_datetime(pollution_dataframe['date_local'])
pollution_dataframe.head()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean
0,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,1.145833
1,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,0.878947
2,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,1.145833
3,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,0.878947
4,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,Parts per million,0.850000

In [28]:
# Confirm conversions
pollution_dataframe.dtypes

state                 object
county                object
city                  object
date_local    datetime64[ns]
no2_units             object
no2_mean             float64
o3_units              object
o3_mean              float64
so2_units             object
so2_mean             float64
co_units              object
co_mean              float64
dtype: object

In [29]:
# Filter out unneeded dates

pollution_filtered = pollution_dataframe[pollution_dataframe['date_local'] >='2011-01-01']
pollution_filtered

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean
1072382,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.995833
1072383,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.873684
1072384,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.675000,Parts per million,0.995833
1072385,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.675000,Parts per million,0.873684
1072386,Arizona,Maricopa,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.291667,Parts per million,1.116667
...,...,...,...,...,...,...,...,...,...,...,...,...
1249893,Connecticut,New Haven,New Haven,2012-02-08,Parts per billion,18.166667,Parts per million,0.013722,Parts per billion,2.291667,Parts per million,0.200000
1249894,Connecticut,New Haven,New Haven,2012-02-08,Parts per billion,18.166667,Parts per million,0.013722,Parts per billion,2.250000,Parts per million,0.219565
1249895,Connecticut,New Haven,New Haven,2012-02-08,Parts per billion,18.166667,Parts per million,0.013722,Parts per billion,2.250000,Parts per million,0.200000
1249896,Connecticut,New Haven,New Haven,2012-02-09,Parts per billion,20.190476,Parts per million,0.012917,Parts per billion,2.563636,Parts per million,0.366190
1249897,Connecticut,New Haven,New Haven,2012-02-09,Parts per billion,20.190476,Parts per million,0.012917,Parts per billion,2.563636,Parts per million,0.300000

In [30]:
# Drop duplicate rows by state
pollution_deduped_states = pollution_filtered.drop_duplicates(subset="state")
pollution_deduped_states.head()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean
1072382,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.995833
1075948,Arkansas,Pulaski,North Little Rock,2011-01-01,Parts per billion,3.329167,Parts per million,0.025375,Parts per billion,1.850000,Parts per million,0.170833
1081788,California,Alameda,Oakland,2011-01-01,Parts per billion,12.882609,Parts per million,0.015167,Parts per billion,0.591304,Parts per million,0.156522
1119202,Colorado,Adams,Welby,2011-01-01,Parts per billion,26.217391,Parts per million,0.015167,Parts per billion,2.565217,Parts per million,0.325000
1120476,Connecticut,Fairfield,Westport,2011-03-31,Parts per billion,10.875000,Parts per million,0.035000,Parts per billion,0.712500,Parts per million,0.204583

In [31]:
# Reset the index
pollution_reset =  pollution_deduped_states.reset_index(drop=True)
pollution_reset.head()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean
0,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.995833
1,Arkansas,Pulaski,North Little Rock,2011-01-01,Parts per billion,3.329167,Parts per million,0.025375,Parts per billion,1.850000,Parts per million,0.170833
2,California,Alameda,Oakland,2011-01-01,Parts per billion,12.882609,Parts per million,0.015167,Parts per billion,0.591304,Parts per million,0.156522
3,Colorado,Adams,Welby,2011-01-01,Parts per billion,26.217391,Parts per million,0.015167,Parts per billion,2.565217,Parts per million,0.325000
4,Connecticut,Fairfield,Westport,2011-03-31,Parts per billion,10.875000,Parts per million,0.035000,Parts per billion,0.712500,Parts per million,0.204583

In [32]:
# Append latitude and longitude into Census dataframes
pollution_reset['latitude'] = states['latitude']
pollution_reset['longitude'] = states['longitude']

In [33]:
# Filter and export individual csvs by year
pollution_filtered_individual = pollution_reset[pollution_reset['date_local'] >='2011-01-01']
pollution_filtered_2011 = pollution_filtered_individual[pollution_filtered_individual['date_local'] <='2011-12-31']
pollution_filtered_2011.tail()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123
36,Country Of Mexico,BAJA CALIFORNIA NORTE,Tijuana,2011-01-01,Parts per billion,10.566667,Parts per million,0.030875,Parts per billion,0.154167,Parts per million,0.290833,35.007752,-97.092877

In [34]:
# Filter out Mexico data

pollution_2011 = pollution_filtered_2011.iloc[0:36]
pollution_2011

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
0,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.995833,63.588753,-154.493062
1,Arkansas,Pulaski,North Little Rock,2011-01-01,Parts per billion,3.329167,Parts per million,0.025375,Parts per billion,1.850000,Parts per million,0.170833,32.318231,-86.902298
2,California,Alameda,Oakland,2011-01-01,Parts per billion,12.882609,Parts per million,0.015167,Parts per billion,0.591304,Parts per million,0.156522,35.201050,-91.831833
3,Colorado,Adams,Welby,2011-01-01,Parts per billion,26.217391,Parts per million,0.015167,Parts per billion,2.565217,Parts per million,0.325000,34.048928,-111.093731
4,Connecticut,Fairfield,Westport,2011-03-31,Parts per billion,10.875000,Parts per million,0.035000,Parts per billion,0.712500,Parts per million,0.204583,36.778261,-119.417932
5,Delaware,New Castle,Wilmington,2011-01-01,Parts per billion,25.916667,Parts per million,0.013250,Parts per billion,2.500000,Parts per million,0.716917,39.550051,-105.782067
6,District Of Columbia,District of Columbia,Washington,2011-01-01,Parts per billion,18.208333,Parts per million,0.020208,Parts per billion,2.625000,Parts per million,1.000000,41.603221,-73.087749
7,Florida,Orange,Winter Park,2011-01-01,Parts per billion,8.125000,Parts per million,0.024875,Parts per billion,0.000000,Parts per million,0.700000,38.905985,-77.033418
8,Georgia,DeKalb,Not in a city,2011-01-01,Parts per billion,3.238095,Parts per million,0.020708,Parts per billion,0.225000,Parts per million,0.171227,38.910832,-75.527670
9,Hawaii,Honolulu,Not in a city,2011-01-01,Parts per billion,3.250000,Parts per million,0.022208,Parts per billion,1.083333,Parts per million,0.241667,27.664827,-81.515754
10,Idaho,Ada,Not in a city,2011-01-01,Parts per billion,9.766667,Parts per million,0.024417,Parts per billion,0.026087,Parts per million,0.199292,32.157435,-82.907123
11,Illinois,Cook,Cicero,2011-03-31,Parts per billion,37.958333,Parts per million,0.001000,Parts per billion,5.750000,Parts per million,0.587500,19.898682,-155.665857
12,Indiana,Marion,Indianapolis (Remainder),2011-03-31,Parts per billion,29.004167,Parts per million,0.000000,Parts per billion,1.958333,Parts per million,0.366667,41.878003,-93.097702
13,Iowa,Polk,Des Moines,2011-03-31,Parts per billion,16.183333,Parts per million,0.023000,Parts per billion,0.300000,Parts per million,0.285609,44.068202,-114.742041
14,Kansas,Wyandotte,Kansas City,2011-01-05,Parts per billion,14.683333,Parts per million,0.016333,Parts per billion,1.891304,Parts per million,0.339130,40.633125,-89.398528
15,Louisiana,East Baton Rouge,Baton Rouge,2011-01-01,Parts per billion,12.687500,Parts per million,0.020458,Parts per billion,2.300000,Parts per million,0.178333,40.551217,-85.602364
16,Maine,Aroostook,Presque Isle,2011-01-01,Parts per billion,4.879167,Parts per million,0.014375,Parts per billion,0.254167,Parts per million,0.231708,39.011902,-98.484246
17,Maryland,Baltimore,Essex,2011-01-01,Parts per billion,20.458333,Parts per million,0.011958,Parts per billion,5.766667,Parts per million,0.691667,37.839333,-84.270018
18,Massachusetts,Suffolk,Boston,2011-01-01,Parts per billion,34.272727,Parts per million,0.010083,Parts per billion,4.566667,Parts per million,0.531636,31.244823,-92.145024
19,Minnesota,Anoka,Blaine,2011-01-01,Parts per billion,0.041667,Parts per million,0.033083,Parts per billion,0.523529,Parts per million,0.122682,42.407211,-71.382437
20,Nevada,Washoe,Reno,2011-01-01,Parts per billion,16.537500,Parts per million,0.021292,Parts per billion,0.050000,Parts per million,0.241792,39.045755,-76.641271
21,New Jersey,Essex,Newark,2011-01-12,Parts per billion,8.800000,Parts per million,0.021417,Parts per billion,4.434783,Parts per million,0.282500,45.253783,-69.445469
22,New Mexico,Bernalillo,Albuquerque,2011-01-01,Parts per billion,9.180952,Parts per million,0.030167,Parts per billion,0.054167,Parts per million,0.195833,44.314844,-85.602364
23,New York,Bronx,New York,2011-01-01,Parts per billion,46.329167,Parts per million,0.002667,Parts per billion,17.279167,Parts per million,1.108333,46.729553,-94.685900
24,North Carolina,Mecklenburg,Charlotte,2011-01-01,Parts per billion,14.916667,Parts per million,0.014667,Parts per billion,0.779167,Parts per million,0.945833,37.964253,-91.831833
25,North Dakota,Cass,Not in a city,2011-01-01,Parts per billion,1.000000,Parts per million,0.037125,Parts per billion,0.554167,Parts per million,0.112917,32.354668,-89.398528
26,Ohio,Cuyahoga,Cleveland,2011-01-01,Parts per billion,5.565217,Parts per million,0.027208,Parts per billion,1.380952,Parts per million,0.246696,46.879682,-110.362566
27,Oklahoma,Adair,Cherry Tree,2011-01-01,Parts per billion,3.813636,Parts per million,0.025792,Parts per billion,1.018182,Parts per million,0.163500,35.759573,-79.019300
28,Oregon,Multnomah,Portland,2011-01-03,Parts per billion,6.375000,Parts per million,0.018833,Parts per billion,1.141667,Parts per million,0.258833,47.551493,-101.002012
29,Pennsylvania,Allegheny,Pittsburgh,2011-01-01,Parts per billion,17.162500,Parts per million,0.017583,Parts per billion,1.360870,Parts per million,0.496783,41.492537,-99.901813
30,Rhode Island,Providence,East Providence,2011-06-01,Parts per billion,3.809524,Parts per million,0.037792,Parts per billion,0.000000,Parts per million,0.196667,43.193852,-71.572395
31,South Dakota,Minnehaha,Sioux Falls,2011-01-01,Parts per billion,5.250000,Parts per million,0.039500,Parts per billion,0.562500,Parts per million,0.182500,40.058324,-74.405661
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123

In [35]:
pollution_filtered_individual2 = pollution_reset[pollution_reset['date_local'] >='2012-01-01']
pollution_filtered_2012 = pollution_filtered_individual[pollution_filtered_individual['date_local'] <='2012-12-31']
pollution_filtered_2012.tail()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123
36,Country Of Mexico,BAJA CALIFORNIA NORTE,Tijuana,2011-01-01,Parts per billion,10.566667,Parts per million,0.030875,Parts per billion,0.154167,Parts per million,0.290833,35.007752,-97.092877

In [36]:
pollution_2012 = pollution_filtered_2012.iloc[0:36]
pollution_2012.tail()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
31,South Dakota,Minnehaha,Sioux Falls,2011-01-01,Parts per billion,5.250000,Parts per million,0.039500,Parts per billion,0.562500,Parts per million,0.182500,40.058324,-74.405661
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123

In [37]:
pollution_filtered_individual3 = pollution_reset[pollution_reset['date_local'] >='2013-01-01']
pollution_filtered_2013 = pollution_filtered_individual[pollution_filtered_individual['date_local'] <='2013-12-31']
pollution_filtered_2013.tail()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123
36,Country Of Mexico,BAJA CALIFORNIA NORTE,Tijuana,2011-01-01,Parts per billion,10.566667,Parts per million,0.030875,Parts per billion,0.154167,Parts per million,0.290833,35.007752,-97.092877

In [38]:
pollution_2013 = pollution_filtered_2012.iloc[0:36]
pollution_2013.tail()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
31,South Dakota,Minnehaha,Sioux Falls,2011-01-01,Parts per billion,5.250000,Parts per million,0.039500,Parts per billion,0.562500,Parts per million,0.182500,40.058324,-74.405661
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123

In [39]:
pollution_filtered_individual4 = pollution_reset[pollution_reset['date_local'] >='2014-01-01']
pollution_filtered_2014 = pollution_filtered_individual[pollution_filtered_individual['date_local'] <='2014-12-31']
pollution_filtered_2014.tail()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123
36,Country Of Mexico,BAJA CALIFORNIA NORTE,Tijuana,2011-01-01,Parts per billion,10.566667,Parts per million,0.030875,Parts per billion,0.154167,Parts per million,0.290833,35.007752,-97.092877

In [40]:
pollution_2014 = pollution_filtered_2012.iloc[0:36]
pollution_2014.tail()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
31,South Dakota,Minnehaha,Sioux Falls,2011-01-01,Parts per billion,5.250000,Parts per million,0.039500,Parts per billion,0.562500,Parts per million,0.182500,40.058324,-74.405661
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123

In [41]:
pollution_filtered_individual5 = pollution_reset[pollution_reset['date_local'] >='2015-01-01']
pollution_filtered_2015 = pollution_filtered_individual[pollution_filtered_individual['date_local'] <='2015-12-31']
pollution_filtered_2015.tail()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123
36,Country Of Mexico,BAJA CALIFORNIA NORTE,Tijuana,2011-01-01,Parts per billion,10.566667,Parts per million,0.030875,Parts per billion,0.154167,Parts per million,0.290833,35.007752,-97.092877

In [42]:
pollution_2015 = pollution_filtered_2012.iloc[0:36]
pollution_2015.tail()

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean,latitude,longitude
31,South Dakota,Minnehaha,Sioux Falls,2011-01-01,Parts per billion,5.250000,Parts per million,0.039500,Parts per billion,0.562500,Parts per million,0.182500,40.058324,-74.405661
32,Texas,Dallas,Dallas,2011-01-01,Parts per billion,11.833333,Parts per million,0.019375,Parts per billion,0.200000,Parts per million,0.248167,34.972730,-105.032363
33,Utah,Salt Lake,Salt Lake City,2011-01-01,Parts per billion,30.208333,Parts per million,0.011250,Parts per billion,1.020833,Parts per million,0.554167,38.802610,-116.419389
34,Virginia,Henrico,East Highland Park,2011-03-31,Parts per billion,4.747826,Parts per million,0.021000,Parts per billion,0.104348,Parts per million,0.205652,43.299428,-74.217933
35,Wyoming,Laramie,Not in a city,2011-01-01,Parts per billion,0.286957,Parts per million,0.042333,Parts per billion,0.081818,Parts per million,0.100000,40.417287,-82.907123

In [43]:
# Export to csv
pollution_reset.to_csv('Resources\Tableau_clean\pollution_reset_filtered.csv', index=False)
pollution_2011.to_csv('Resources\Tableau_clean\pollution_2011.csv', index=False)
pollution_2012.to_csv('Resources\Tableau_clean\pollution_2011.csv', index=False)
pollution_2013.to_csv('Resources\Tableau_clean\pollution_2011.csv', index=False)
pollution_2014.to_csv('Resources\Tableau_clean\pollution_2011.csv', index=False)
pollution_2015.to_csv('Resources\Tableau_clean\pollution_2011.csv', index=False)

#### other attempts to identify duplicates:

In [44]:

# Getting the duplicate so2_mean by ID number that shows up for state and so2_mean. 
dupes_so2_mean = pollution_filtered[pollution_filtered.duplicated(['so2_mean', 'state'], keep = 'first')]
# Get all the data for the duplicate so2_mean. 
dupes_so2_mean.head(10)

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean
1072383,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.873684
1072385,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.675000,Parts per million,0.873684
1072387,Arizona,Maricopa,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.291667,Parts per million,1.179167
1072389,Arizona,Maricopa,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.275000,Parts per million,1.179167
1072391,Arizona,Maricopa,Phoenix,2011-01-03,Parts per billion,34.291667,Parts per million,0.005625,Parts per billion,3.125000,Parts per million,0.975000
1072393,Arizona,Maricopa,Phoenix,2011-01-03,Parts per billion,34.291667,Parts per million,0.005625,Parts per billion,3.087500,Parts per million,0.975000
1072395,Arizona,Maricopa,Phoenix,2011-01-04,Parts per billion,32.833333,Parts per million,0.006250,Parts per billion,2.583333,Parts per million,0.800000
1072397,Arizona,Maricopa,Phoenix,2011-01-04,Parts per billion,32.833333,Parts per million,0.006250,Parts per billion,2.562500,Parts per million,0.800000
1072398,Arizona,Maricopa,Phoenix,2011-01-05,Parts per billion,36.416667,Parts per million,0.005500,Parts per billion,3.125000,Parts per million,1.129167
1072399,Arizona,Maricopa,Phoenix,2011-01-05,Parts per billion,36.416667,Parts per million,0.005500,Parts per billion,3.125000,Parts per million,1.116667

In [45]:
# Getting the duplicate co_mean by ID number that shows up for state and co_mean. 

dupes_co_mean = pollution_filtered[pollution_filtered.duplicated(['co_mean', 'state'], keep = 'first')]
# Get the first ten rows of data for the duplicate co_mean. 
dupes_co_mean.head(10)

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean
1072384,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.6750,Parts per million,0.995833
1072385,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.6750,Parts per million,0.873684
1072388,Arizona,Maricopa,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.2750,Parts per million,1.116667
1072389,Arizona,Maricopa,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.2750,Parts per million,1.179167
1072392,Arizona,Maricopa,Phoenix,2011-01-03,Parts per billion,34.291667,Parts per million,0.005625,Parts per billion,3.0875,Parts per million,0.908333
1072393,Arizona,Maricopa,Phoenix,2011-01-03,Parts per billion,34.291667,Parts per million,0.005625,Parts per billion,3.0875,Parts per million,0.975000
1072396,Arizona,Maricopa,Phoenix,2011-01-04,Parts per billion,32.833333,Parts per million,0.006250,Parts per billion,2.5625,Parts per million,0.891667
1072397,Arizona,Maricopa,Phoenix,2011-01-04,Parts per billion,32.833333,Parts per million,0.006250,Parts per billion,2.5625,Parts per million,0.800000
1072399,Arizona,Maricopa,Phoenix,2011-01-05,Parts per billion,36.416667,Parts per million,0.005500,Parts per billion,3.1250,Parts per million,1.116667
1072400,Arizona,Maricopa,Phoenix,2011-01-05,Parts per billion,36.416667,Parts per million,0.005500,Parts per billion,3.0875,Parts per million,1.129167

In [46]:
# Drop duplicate rows by so2_mean

pollution_deduped_so2 = pollution_filtered.drop_duplicates(subset="so2_mean")
pollution_deduped_so2.reset_index()
pollution_deduped_so2.head(10)

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean
1072382,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.995833
1072384,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.675000,Parts per million,0.995833
1072386,Arizona,Maricopa,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.291667,Parts per million,1.116667
1072388,Arizona,Maricopa,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.275000,Parts per million,1.116667
1072390,Arizona,Maricopa,Phoenix,2011-01-03,Parts per billion,34.291667,Parts per million,0.005625,Parts per billion,3.125000,Parts per million,0.908333
1072392,Arizona,Maricopa,Phoenix,2011-01-03,Parts per billion,34.291667,Parts per million,0.005625,Parts per billion,3.087500,Parts per million,0.908333
1072394,Arizona,Maricopa,Phoenix,2011-01-04,Parts per billion,32.833333,Parts per million,0.006250,Parts per billion,2.583333,Parts per million,0.891667
1072396,Arizona,Maricopa,Phoenix,2011-01-04,Parts per billion,32.833333,Parts per million,0.006250,Parts per billion,2.562500,Parts per million,0.891667
1072402,Arizona,Maricopa,Phoenix,2011-01-06,Parts per billion,45.041667,Parts per million,0.003583,Parts per billion,4.083333,Parts per million,1.387500
1072404,Arizona,Maricopa,Phoenix,2011-01-06,Parts per billion,45.041667,Parts per million,0.003583,Parts per billion,4.050000,Parts per million,1.387500

In [47]:
# Drop duplicate rows by co_mean

pollution_deduped_co = pollution_filtered.drop_duplicates(subset="co_mean")
pollution_deduped_co.reset_index()
pollution_deduped_co

,state,county,city,date_local,no2_units,no2_mean,o3_units,o3_mean,so2_units,so2_mean,co_units,co_mean
1072382,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.995833
1072383,Arizona,Maricopa,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.873684
1072386,Arizona,Maricopa,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.291667,Parts per million,1.116667
1072387,Arizona,Maricopa,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.291667,Parts per million,1.179167
1072390,Arizona,Maricopa,Phoenix,2011-01-03,Parts per billion,34.291667,Parts per million,0.005625,Parts per billion,3.125000,Parts per million,0.908333
...,...,...,...,...,...,...,...,...,...,...,...,...
1249848,Connecticut,New Haven,New Haven,2012-01-28,Parts per billion,13.954545,Parts per million,0.021708,Parts per billion,1.173913,Parts per million,0.244545
1249860,Connecticut,New Haven,New Haven,2012-01-31,Parts per billion,29.909091,Parts per million,0.007375,Parts per billion,4.227273,Parts per million,0.362273
1249864,Connecticut,New Haven,New Haven,2012-02-01,Parts per billion,28.000000,Parts per million,0.011625,Parts per billion,2.145833,Parts per million,0.318261
1249884,Connecticut,New Haven,New Haven,2012-02-06,Parts per billion,26.041667,Parts per million,0.009375,Parts per billion,3.895833,Parts per million,0.339565
1249896,Connecticut,New Haven,New Haven,2012-02-09,Parts per billion,20.190476,Parts per million,0.012917,Parts per billion,2.563636,Parts per million,0.366190